<main class="page-main page-wrapper">
    <h1>Kami adalah Tertanda.</h1>
    <p>Kami merancang produk yang berguna dan menyenangkan untuk digunakan. Melalui desain, kode, dan teknologi, kami membantu memperbaiki kualitas kehidupan manusia.</p>
    <ul class="site-company__list page-column">
        <li class="site-company__item page-aside">
            <a href="http://kursif.com" class="site-company__link page-column">
                <img src="https://cdn-images-1.medium.com/max/720/1*EZwfzYmfn72BHtJ8THaKVg.png" class="site-company__logo" alt="Kursif">
                <span class="site-company__name">Kursif</span>
                <span class="site-company__desc">Printing &amp; Packaging</span>
            </a>
        </li>
        <li class="site-company__item page-aside">
            <a href="#" class="site-company__link page-column">
                <img src="https://cdn-images-1.medium.com/max/720/1*j3nodjwIpO8G7Tkk6uqHvA.png" class="site-company__logo" alt="Kursif">
                <span class="site-company__name">Simfoni</span>
                <span class="site-company__desc">Design &amp; Development</span>
            </a>
        </li>
    </ul>
</main>