/*
 * TYPO STARTS
 */
a {
    color: #415bf6;
    text-decoration: none;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    font-family: "Playfair Display";
    font-size: 1.5157rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.3125rem;
    margin-top: 0;
}

.page-foot p a { font-weight: 700; }

/*
 * TYPO ENDS
 */